<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{{ config.base_url }}build/img/favicon.png">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ config.base_url }}build/css/main.min.css">
	<link rel="stylesheet" href="{{ config.base_url }}build/css/{{ page }}.min.css">
</head>